@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url(https://fonts.bunny.net/css?family=amita:700);
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');


body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;
    height: 300vh;
    line-height: 1.6;
}

h1 {
    color: #AECCE4;
    font-family: 'Playfair Display', serif;
    margin: 1px auto;
    width: 450px;
    font-size: 5rem;
    text-align: center;
    text-wrap: nowrap;
}

h3 {
    color: #AECCE4;
    font-family: 'Playfair Display', serif;
    margin: 10px auto;
    width: 450px;
    font-size: 1.7rem;
    text-align: center;
    text-wrap: nowrap;
}

img {
    width: 450px;
    height: 300px;
    margin: 10px;
    
    
    transition-duration: 1s;
}

img:hover {
    
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: none;
    filter: none;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

p {
    padding-block-start: 150px;
}

@media (max-width: 575px) {

    /**
     * REUSED STYLE
     */

  


    h1 {
        text-wrap: wrap;
    }

    h3 {
        text-wrap: wrap;
    }

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
img,
span,
button,
ion-icon {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}


ion-icon {
    pointer-events: none;
}

html {
    font-family: var(--ff-playfairdisplay);
    font-size: 10px;
    scroll-behavior: smooth;
}


body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 1.6rem;
    color: aliceblue;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ADD8E6;
}

::-webkit-scrollbar-thumb {
    background-color: #016064;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #48AAAD;
}


.container {
    padding-inline: 10px;
}

.logo {
    color: #B2D3C2;
    font-size: var(--fs-3);
    font-family: "Rock Salt", cursive;
}

.section {
    padding-block: var(--section-padding);
}

.text-center {
    text-align: center;
}

.grid-list {
    display: grid;
    gap: 60px;
}

.has-after {
    position: relative;
    z-index: 1;
}

.has-after::after {
    content: "";
    position: absolute;
}

.has-bg-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}





/*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/


.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: var(--shadow-1);
    padding-block: 16px;
    background-color: #101c24;
    z-index: 4;
}

.header.active {
    position: fixed;
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-open-btn {
    font-size: 3.5rem;
    color: aliceblue;
}

.nav-open-btn ion-icon {
    --ionicon-stroke-width: 26px;
}

.navbar {
    position: absolute;
    top: 0;
    left: -350px;
    max-width: 350px;
    width: 100%;
    background-color: #15232e;
    height: 100vh;
    padding: 16px;
    z-index: 2;
    visibility: hidden;
    transition: 0.25s #D6EBF2;
}

.navbar.active {
    visibility: visible;
    transform: translateX(350px);
    transition: 0.5s #253f52;
}

.nav-close-btn {
    margin-inline-start: auto;
    font-size: 2.4rem;
    color: #D6EBF2;
    padding: 8px;
    margin-block-end: 24px;
}

.navbar-link {
    padding-block: 10px;
    color: aliceblue;
    transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus-visible) {
    color: #F5DADF;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #040709;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-);
}

.overlay.active {
    visibility: visible;
    opacity: 0.4;
}

@media (min-width: 992px) {

    /**
     * CUSTOM PROPERTY
     */

    :root {

        /**
       * typography
       */

        --fs-2: 4.8rem;
        --fs-3: 3.5rem;

    }



    /**
     * REUSED STYLE
     */


    /**
     * HEADER
     */

    .nav-open-btn,
    .nav-close-btn,
    .overlay {
        display: none;
    }

    .header {
        padding-block: 20px;
    }

    .navbar,
    .navbar.active {
        all: unset;
        display: block;
    }

    .navbar-list {
        display: flex;
        gap: 40px;
    }

    .navbar-link {
        color: aliceblue;
    }
}
