* {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

/*-----------blog---------*/
#blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

}

.blog-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span {
    color: aquamarine;
}

.blog-heading h3 {
    font-size: 2.4rem;
    color: black;
    font-weight: 500;
}

/* Post Slider */
.post-slider {
    border: 1px solid royalblue;
}


    
.post-slider .carousel {
    width: 84%;
    height: 350px;
    margin: 0px auto;
    border:1px dashed red;
    overflow-x: auto;
}

.post-slider .carousel ::-webkit-slider-thumb{
    width:0;
}

.post-slider .carousel .post {
    width: 300px;
    height: 350px;
    display: inline-block;
    background: green;
    margin-right: 2px;
}
.post-slider .carousel .post .slider-image{
    width: 100%;
    height: 10px;
}


    



.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.blog-box {
    width: 350px;
    background-color: azure;
    border: 1px solid white;
    margin: 20px;
}

.blog-img {
    width: 100%;
    height: auto;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span {
    color: palevioletred;
    font-size: 0.9rem;
}

.blog-text .blog-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}

.blog-text .blog-title:hover {
    color: palevioletred;
    transition: all ease 0.3s;
}

.blog-text p {
    color: black;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}

.blog-text a {
    color: black;
}

.blog-text a:hover {
    color: red;
    transition: all ease 0.3s;
}

/*Content for single blog post page*/
.content {
    margin: 30px 30px 30px;
}


.content .main-content.single {
    background: black;
    padding: 20px 50px;
    font-size: 1.1cm;
    

}

/* SideBar Section*/
.content .sidebar{
    width: 30%;
    float: right;
    border: 1px dashed green;
    height: 300px;
}

content .sidebar.single{
    padding: 0px 10px;
}

.content .sidebar .main-content{
    padding: 0px 10px;
}
.content .sidebar .section{
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content .sidebar .section .section-title{
    margin: 10px 0px 10px 0px;

}

.content .sidebar .section.topics ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid green;
}

.content .sidebar .section.topics ul li a {
    display: block;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid green;
}

.content .sidebar .section.topics ul li a:hover {
    padding-left: 10px;
    transition: all 0.3s;
}
/* Slide back In when hover to topics (.content .sidebar .section.topics ul li a:hover  )*/




@media(max-width:1250px) {
    .blog-box {
        width: 300px;
    }
}

@media(max-width:1100px) {
    .blog-box {
        width: 70%;
    }
}